<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- Include _menu.html -->
    <th:block th:include="/menu"></th:block>
      
	
	
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Название игры</th>
      <th scope="col">Статус игры</th>
      <th scope="col">Длительность хода</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <th:block th:each="game : ${games}">
      <tr>

         <td th:text="${game.name}"></td>
         <td th:text="${game.gameStatus}"></td>
         <td><span th:utext="${game.turnPeriod/3600000}"></span> часа</td>
         <td><button><a th:href="@{/games/game(id=${game.id})}">Узнать подробнее</a></button></td>
      </tr>
     
   </th:block>
  </tbody>
</table>
	
</body>
</html>