<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
       <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
       <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script> 
</head>
<body>
<nav role="navigation" class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
    <li><a class="nav-link" href="/">Main</a></li>
    <li th:if="${#request.userPrincipal == null}" class="nav-item active"><a class="nav-link" href="/login">Log in</a></li>
    <li th:if="${#request.userPrincipal == null}" class="nav-item active"><a class="nav-link" href="/register">Registration</a></li>
	<li th:if="${#request.userPrincipal != null}" class="nav-item active"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>
</body>
</html>