<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .odd{
         color: black;
         font-style: normal;
         font-size:100%;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/menu"></th:block>
       
      <h2>Register</h2>
      <h2>Parol 197346RKavbyz+</h2>
       
      <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
       
      <form th:action="@{/register}" th:object="${appUserForm}" method="POST">
         <table>
            <tr>
               <td><span class = "odd" th:text="#{login}"></span></td>
               <td><input type="text" th:field="*{name}" /></td>
               <td>
                  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td><span class = "odd" th:text="#{password}"></span></td>
               <td><input type="password" th:field="*{password}" value="197346RKavbyz+"/> </td>
               <td>
                  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
               </td>
            </tr>
            <tr>
               <td><span class = "odd" th:text="#{page.register.confirm}"></span></td>
               <td><input type="password" th:field="*{passwordRepeated}" value="197346RKavbyz+"/> </td>
               <td>
                  <span th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">..</span>
               </td>
            </tr>
            <tr>
               <td><span class = "odd" th:text="#{page.register.email}"></span></td>
               <td><input type="text" th:field="*{email}" /> </td>
               <td>
                  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Registration" />
               </td>
               <td>&nbsp;</td>
            </tr>
         </table>
      </form>
       
   </body>
</html>