<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Template Creator</title>      
   </head>
   <body>
    <th:block th:include="/menu"></th:block>  
   <h1>Template Creator</h1> 
      <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
   
    <form th:action="@{/templateCreator}" th:object="${tempalteModel}" method="POST">
         <table>
            <tr>
               <td>Template Name</td>
               <td><input type="text" th:field="*{name}" /></td>
               <td>Template country</td>
               <td><input type="text" th:field="*{country}" /></td>
               <td>Template type</td>
               <td>
				 <select>
 				 <option th:each="armyType : ${T(com.militarism2.militarism2.game.unit.type.ArmyType).values()}" 
 				 th:value="${armyType}" th:text="${armyType}"></option>
				</select>  
              </td>
            </tr>
            <tr>
               <td>Template available Round</td>
               <td><input type="text" th:field="*{availableRound}" /></td>
               <td>Template cost</td>
               <td><input type="text" th:field="*{cost}" /></td>
            </tr>
            <tr>
               <td>Template damage</td>
               <td><input type="text" th:field="*{damage}" /></td>
               <td>Template damage range</td>
               <td><input type="text" th:field="*{damageRange}" /></td>
               <td>Template shot range</td>
               <td><input type="text" th:field="*{shotRange}" /></td>
            </tr>
             <tr>
               <td>Template quantity stuff</td>
               <td><input type="text" th:field="*{quantityStuff}" /></td>
               <td>Template quantity units</td>
               <td><input type="text" th:field="*{quantityUnits}" /></td>
               <td>Template defense</td>
               <td><input type="text" th:field="*{defense}" /></td>
            </tr>
              <tr>
               <td>Template speed</td>
               <td><input type="text" th:field="*{speed}" /></td>
               <td>Template stealth</td>
               <td><input type="text" th:field="*{stealth}" /></td>
               <td>Template visibility range</td>
               <td><input type="text" th:field="*{visibility}" /></td>
            </tr>
         </table>
      </form>
   
   </body>
</html>