<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Template List</title>
</head>
<body>
	<th:block th:include="/menu"></th:block>
	<h1>Template List</h1>

<input id="myInput" type="text" placeholder="Search..">
	<br><br>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>All templates</th>
		</thead>
		<tbody id="myTable">

			<th:block th:each="template : ${templateList}">
			   <tr>
					<td><a th:href="@{/templateCreatorViev(id=${template.id})}">
					<em th:text="${template.name}"></em></a></td>
					<td th:text="${template.country}"></td>
					<td th:text="${template.cost}"></td>
			  </tr>
			</th:block>
		</tbody>
	</table>


 <script type="text/javascript">
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
</script> 


</body>
</html>