<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head> 
    <title>User Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
       <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
       <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script> 
     <style type="text/css">
   .block1 { 
    width: 50%; 
    margin: auto;
   
    
   }
   
  </style> 
</head>
<body>
	<th:block th:include="/menu"></th:block>
	<h3 th:text="#{page.userpage.hello}"> </h3>
   <h3 th:text="${name} + '!'" > </h3>
   <div class = "block1">
    <table class="table table-hover">
      <tr>
        <th class="col-xs-2">Number</th>
        <th class="col-xs-6">Name</th>
        <th class="col-xs-2">Players</th>
        <th class="col-xs-2"></th>
      </tr>
      <tr th:each="game : ${tables}">
        <td th:text="${game.id}"></td>
        <td th:text="${game.name}"></td>
        <td th:text="${game.numPlayers}"></td>
        <td><a href="#" class="btn btn-danger" role="button" th:text="#{play}"></a></td>
      </tr>
    </table>
    </div>
</body>
</html>
